<!DOCTYPE html>
<html>
<head>
	<title>
		index page
	</title>
</head>
<body>
	<div style="background-color: pink; color: black; text-shadow: 2px; height: 200px;width: 100%">
		<h3 style="margin-left: 25px;margin-top: 15px">
			Welcome To MyBlogs
		</h3>
		
	</div>
</body>
</html>